/* styles.css */

body {
  color: black;
  // background-color: #f7ddb5;
  line-height: 25px; // a pixel value, for example
}

em {
  color: red;
}

.header {
position: fixed;
top: 0;
left: 0;
width: 95%;
padding: 10px 10px;
display: flex;
align-items: center;
z-index: 20;
}

